.site-appbar {
  box-shadow: none !important;
  background-color: #fff !important;
  /* margin-top: 1rem !important; */
  top: 5px !important;
  padding: 0 1rem !important;
  color: #2f2b3dc7 !important;
}
